.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.main-content {
    flex: 1;
    overflow-y: auto;
    background-color: var(--surface-ground, #f8f9fa);
    padding: 1rem;
}