<div class="user-list">
    <p-table [value]="users" [tableStyle]="{ 'width': '100%' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td data-label="Nome">{{ user.name }}</td>
                <td data-label="Email">{{ user.email }}</td>
                <td data-label="Ações">
                    <p-button icon="pi pi-pencil" (onClick)="edit.emit(user)"
                        styleClass="p-button-rounded p-button-text" ariaLabel="Editar"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="delete.emit(user.id)"
                        styleClass="p-button-rounded p-button-text p-button-danger" ariaLabel="Excluir"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3" class="no-data">Nenhum usuário encontrado.</td>
            </tr>
        </ng-template>
    </p-table>
</div>